<% content_for(:title, 'Edit | Recipes') %>

<h1>Edit The Recipe</h1>

<%= render('layouts/errors', :object => @contributor) %>

<form id='contributor' action="/contributors/<%= @contributor.id %>" method='post'>
  <input name='_method' value='patch' type='hidden'>
  <%= render('form') %>
  <button>Edit your recipe</button>
</form>

<%= render('textarea') %>

<p><a href="/contributors/<%= @contributor.id %>">Return to recipe</a></p>
<p><a href="/contributors/new">Add a new recipe</a></p>
<p><a href="/contributors">Return to main menu</a></p>
<p><a href="/contributors/<%= @contributor.id %>"
      data-confirm='Are you sure you want to delete this recipe>'
      data-method='delete'
      rel='nofollow'>Delete this recipe</a></p>
